



#first{
    height: 100px;
    width: 300px;
    background-color: rgba(244, 89, 115, 0.693);
}


#second{
    height: 100px;
    width: 300px;
    background-color: rgba(0, 128, 0, 0.74);
}


#third{
    height: 100px;
    width: 300px;
    background-color: rgba(0, 2, 128, 0.692);
}


#fourth{
    height: 100px;
    width: 300px;
    background-color: rgba(105, 0, 128, 0.644);
}


